
<div>
  <button (mouseover)="mostrarOcultar()">mo:{{textoBoton}}</button>
  <button (click)="mostrarOcultar()">{{textoBoton}}</button>
</div>
<p *ngIf="mostrar">
  Lorem fistrum cillum consectetur commodo jarl consectetur dolor diodeno la caidita. Esse a peich ahorarr laboris benemeritaar condemor ut apetecan va usté muy cargadoo a wan tempor. Voluptate voluptate a peich la caidita. Va usté muy cargadoo diodenoo officia a peich no puedor consequat exercitation reprehenderit. Consequat hasta luego Lucas pupita veniam. Nisi dolor diodeno la caidita cillum qui va usté muy cargadoo dolore ese que llega. Pupita benemeritaar te va a hasé pupitaa reprehenderit consectetur.
</p>
