footer {
    position: fixed;
    bottom : 0;
    width: 100%;
    border-top:  1px crimson solid;
    background-color: aquamarine;
}
p {
    text-align: center;
    font-size: 1.3em;
    color : crimson;
}